vim/colors/ir_black.vim
vim/colors/Mustang.vim
vim/syntax/mkd.vim
vim/syntax/jinja.vim
vim/syntax/htmljinja.vim
vim/syntax/haml.vim
vim/syntax/sass.vim
vim/syntax/less.vim
vim/syntax/html.vim
vim/after/syntax/css.vim
vim/after/syntax/less.vim
vim/autoload/pathogen.vim
vim/.netrwhist
.*.swp
